.main-pnl {
    /*position: relative;*/
    margin-top: 50px;
    border-style: solid;
    border-color: lightgreen;
    border-radius: 0.1px;
    /*padding: 10px 0px 10px 22px;*/
}

.main-pnl button {
    width: 100px;
    height: 100px;
}
/*.main-pnl .d{
    position: relative;
    margin-left: 110px;
}*/
.main-pnl .btn {
    -webkit-transition: 0.25s;
    position: absolute;
}
    /*position: relative;*/
/*    margin-top: 5px;
    height: 75px;*/
    /*margin-left: 5px;*/
/*}*/
